@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.fill-custom-100\/50 {
  fill: #dbeafe80;
}

.fill-custom-100 {
  fill: #dbeafe;
}

.fill-custom-200\/50 {
  fill: #bfdbfe80;
}

.fill-custom-200\/75 {
  fill: #bfdbfebf;
}

.fill-custom-200 {
  fill: #bfdbfe;
}

.fill-custom-300\/50 {
  fill: #93c5fd80;
}

.fill-custom-300\/75 {
  fill: #93c5fdbf;
}

.fill-custom-300 {
  fill: #93c5fd;
}

.fill-custom-400\/50 {
  fill: #60a5fa80;
}

.fill-custom-400\/75 {
  fill: #60a5fabf;
}

.fill-custom-400 {
  fill: #60a5fa;
}

.fill-custom-500\/50 {
  fill: #3b82f680;
}
